.formulaire {
  width: fit-content;
}
label {
  color: black;
}

h1 {
  color: mediumslateblue;
}

.showcase {
  background-image: url(/assets/image/corner.jpg);

  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}
button{
  color: black;
  background-color: gainsboro;

}
