<nav>
  <div>
    <a [routerLink]="['/home']" routerLinkActive="active"> Accueil </a> &nbsp;
    <a [routerLink]="['/login']" routerLinkActive="active"> Connexion </a>
    &nbsp;
    <a [routerLink]="['/inscription']" routerLinkActive="active">
      Inscription
    </a>
    &nbsp;
    <a [routerLink]="['/creationEvent']" routerLinkActive="active">
      Créer un évènement
    </a>
    &nbsp;
    <a [routerLink]="['/listEvents']" routerLinkActive="active">
      Consulter les évènements
    </a>
    &nbsp;
  </div>
</nav>
<router-outlet></router-outlet>
