.navbared {
  background-color: #e3d494;
  color: white; /* La couleur des liens se change autrement */
  height: 60px;
  padding-top: 15px;
  padding-left: 150px;
  padding-right: 150px;
}

.deco {
  text-align: right;
  padding-top: 50px;
  padding-right: 100px;
}

@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
* {
  font-family: "Titillium Web", sans-serif;
}
.navbar .navbar-brand {
  font-size: 30px;
}
.navbar .nav-item {
  padding: 10px 1px;
}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 200px;
}
.fa-bars {
  color: #007bff;
  font-size: 200px;
}
button{
  background-color: red;
}
