<nav class="navbar navbared">
  <!-- voir le css -->
  <table class="table">
    <thead>
      <td>
        <a [routerLink]="['/home']" routerLinkActive="active">Accueil</a>
      </td>
      <td>
        <a
          *ngIf="!isLogged()"
          [routerLink]="['/login']"
          routerLinkActive="active"
          >Connexion</a
        >
      </td>
      <td>
        <a
          *ngIf="!isLogged()"
          [routerLink]="['/inscription']"
          routerLinkActive="active"
          >Inscription</a
        >
      </td>
      <td>
        <a
          *ngIf="isLogged()"
          [routerLink]="['/creationEvent']"
          routerLinkActive="active"
          >Créer un évènement</a
        >
      </td>
      <td>
        <a
          *ngIf="isLogged()"
          [routerLink]="['/listEvents']"
          routerLinkActive="active"
          >Consulter les évènements</a
        >
      </td>
    </thead>
  </table>
</nav>
<router-outlet></router-outlet>
<div class="deco">
  <button *ngIf="isLogged()" (click)="logoff()" class="btn btn-danger">
    Déconnexion
  </button>
</div>
