<h1>Page de connexion</h1>

<form (ngSubmit)="seConnecter()">
  <div>
    Login:
    <input class="form-control" [formControl]="loginCtrl" placeholder="Login" />
  </div>
  <div>
    Password:
    <input
      class="form-control"
      [formControl]="passwordCtrl"
      placeholder="Password"
    />
  </div>
  <button type="submit" class="btn btn-link">Connexion</button>
  <button
    [routerLink]="['/home']"
    routerLinkActive="active"
    class="btn btn-link"
  >
    Annuler
  </button>
  <div>{{ message }}</div>
</form>

<div>
  Pas encore de compte ?
  <a [routerLink]="['/inscription']" routerLinkActive="active"> S'inscrire </a
  ><br />
</div>
