h1 {
  text-align: center;
}

.log {
  width: 50%;
  margin: auto;
}

.inscr {
  text-align: right;
  margin-right: 400px;
}

.showcase {
  background-image: url(/assets/image/sport.jpg);

  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}
