<div class="showcase">
  <div class="card container col-3">
<h1>Page de connexion</h1>
<form (ngSubmit)="seConnecter()" class="log">
  <div class="form-group">
    <label>Login:</label>
    <input
      class="form-control"
      [formControl]="usernameCtrl"
      placeholder="Login"
    />
  </div>
  <div class="form-group">
    <label>Password:</label>
    <input
      class="form-control"
      [formControl]="passwordCtrl"
      placeholder="Password"
      type="password"
    />
  </div>

  <table>
    <td><button type="submit" class="btn btn-info">Connexion</button></td>
    <td>
      <button
        [routerLink]="['/home']"
        routerLinkActive="active"
        class="btn btn-secondary"
      >
        Annuler
      </button>
    </td>
  </table>
  <div>{{ message }}</div>
</form>

<div class="">
  Pas encore de compte ?
  <a [routerLink]="['/inscription']" routerLinkActive="active"> S'inscrire </a
  ><br />
</div></div>
</div>
