<h1>Page de connexion</h1>

<form (ngSubmit)="seConnecter()">
  Login: <input [(ngModel)]="login" placeholder="Login" /> <br />
  Password:<input [(ngModel)]="password" placeholder="Password" /> <br />
  <button type="submit" class="btn btn-link">Connexion</button>
  <button
    [routerLink]="['/home']"
    routerLinkActive="active"
    class="btn btn-link"
  >
    Annuler
  </button>
  <div>{{ message }}</div>
</form>

<div>
  Pas encore de compte ?
  <a [routerLink]="['/inscription']" routerLinkActive="active"> S'inscrire </a
  ><br />
</div>
