<div name="formulaire" class="container" class="col-sm-5"></div>
  <div class="container">
      <h1>Formulaires d'inscription</h1>
      <form>
        <fieldset>

<div class="form-group">
  <label>Votre ID:</label>
  <input class="form-control" name="id" placeholder="1"
  readonly/>
</div>
<div class="form-group">
  <label>Votre nom :</label>
  <input class="form-control" name="nom" placeholder="nom"/>
</div>
<div class="form-group">
  <label>Votre prenom :</label>
  <input class="form-control" name="prenom" placeholder="prenom"/>
</div>
<div class="form-group">
  <label>Votre numéro :</label>
  <input class="form-control" name="numero" placeholder="numero"/>
</div>
<div class="form-group">
  <label>Votre poste :</label>
  <input class="form-control" name="poste" placeholder="poste"/>
</div>
<div class="form-group">
  <label>Quelle est la rencontre à laquelle vous souhaitez participer ? :</label>
  <input class="form-control" name="nomRencontre" placeholder="Le match du siècle"/>
</div>
<div class="form-group">
  <label>Nombre de place réservé :</label>
  <input class="form-control" name="Nombre" placeholder="nombre de place à réservé"/>
</div>
<a [routerLink]="['/home']"> Valider</a>
<a [routerLink]="['/home']"> Annuler</a>
        </fieldset>
    </form>
  </div>

