<div>
  <body>
<div class="showcase">
<h1>Bienvenue sur le site n°1 d'évenements sportifs</h1>
<div class="connexion">
  <a *ngIf="!isLogged()" [routerLink]="['/login']" routerLinkActive="active">
    Se Connecter</a
  >
</div>

<div class="row">
  <div class="card offset-1 col-4">
    <p class="card-text">Organise ta rencontre !</p>
    <a
      class="btn btn-warning"
      [routerLink]="['/creationEvent']"
      routerLinkActive="active"
    >
      Organiser</a
    >
  </div>

  <div class="card offset-1 col-4">
    <p class="card-text">Consulte tes évènements passés et à venir !</p>
    <a
      [routerLink]="['/listEvents']"
      routerLinkActive="active"
      class="btn btn-warning"
    >
      Consulter
    </a>
  </div>
</div></div></body>
</div>
