<div class="showcase">
  <h1>Bienvenue sur le site n°1 d'évenements sportifs</h1>
  <form class="card container col-4" *ngIf="isLogged()">
    <div class="row">
      <b><p class="card-text">Organise ta rencontre !</p></b>
      <button
        class="btn btn-secondary"
        [routerLink]="['/creationEvent']"
        routerLinkActive="active"
      >
        Organiser</button
      >
    </div>

    <div class="row">
      <b
        ><p class="card-text">Consulte tes évènements passés et à venir !</p></b
      >
      <button
        [routerLink]="['/listEvents']"
        routerLinkActive="active"
        class="btn btn-secondary"
      >
        Consulter
      </button>
    </div>
  </form>
</div>
