.showcase {
  background-image: url(/assets/image/ballon2.jpg);

  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}
a{
  color: black;
  background-color: gainsboro;
}
