<div class="showcase">
  <div class="card container ">
<h3>Liste de tes évènements</h3>

<table class="table table-bordered">
  <tr>
    <th>Organisé par</th>
    <th>Nom</th>
    <th>Date</th>
    <th>Lieu</th>
    <th>Nombre de participants</th>
    <th></th>
  </tr>

  <tr *ngFor="let rencontre of rencontres | async">
    <td>{{ rencontre.proprio.name }}</td>
    <td>{{ rencontre.name }}</td>

    <td>{{ rencontre.date }}</td>
    <td>{{ rencontre.lieu.nom }}</td>
    <td>{{ rencontre.nbPlaces }}</td>
    <td>
      <form (ngSubmit)="insc(rencontre.id)">
        <div class="form-group">
          <label> place: </label
          ><input
            class="form-control"
            type="number"
            [formControl]="placesReserveesCtrl"
          />
        </div>
      </form>
    </td>
    <td>
      <button *ngIf="!isAdmin()" type="submit" class="btn btn-dark">
        S'inscrire
      </button>
    </td>
    <td></td>
    <button class="btn btn-outline-danger" (click)="delete(rencontres.id)">
      supprimer
    </button>
  </tr>
</table>

<div>
  <a
    [routerLink]="['/home']"
    routerLinkActive="active"
    class="btn btn-primary"
  >
    Retour</a
  >
</div>
